[submodule "site/themes/hugo-coder"]
	path = site/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "policies/openpi"]
	path = policies/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
[submodule "policies/gr00t"]
	path = policies/gr00t
	url = https://github.com/NVIDIA/Isaac-GR00T.git
